# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/M2RET.sln
/M2RET.vcxproj
/M2RET.vcxproj.filters
/.vs/M2RET/v14/.suo
/Debug
/__vm
